{% if sessoes %}
    {% for s in sessoes %}
    <tr>
        <td>{{ s.dataHora.strftime('%d/%m/%Y') }}</td>
        <td>{{ s.dataHora.strftime('%H:%M') }}</td>
        <td>{{ s.tipoAudio.tipoAudio }} </td>
        <td>{{ s.tipoTela.tipoTela }}</td>
        <td>{{ s.sala.numero }}</td>
        <td>
            <div class="radio">
                <label>
                    <input value="{{ s.codigo }}" class="radio" type="radio" name="sessao">
                </label>
            </div>
        </td>
    </tr>
    {% endfor %}
{% endif %}